/**
* @name CustomAnimeTheme
* @version 2.4
* @description 由一個很閒的DC廢人製作
* @author 夏目#2001
*/

:root {
    --columns: 1;
    --guildsize: 40;
    --guildgap: 3;
    --aligndms: 1;
    --searchColor: #00000040;
    --border: 4px solid #ffffffA0;

    --theme-background-image: url("https://media.discordapp.net/attachments/1028156483847847946/1070313086751363112/ayame_background.png");
    --theme-transparency: #00000060;
    --replyfromcolor: #00000010;

    --home-icon-image: url('https://media.discordapp.net/attachments/1028156483847847946/1045978830873047060/home_icon.jpg');
    --home-icon-image-zoom: 100%;
    --home-icon-image-position: center;

    --small-popout-image: url('https://media.discordapp.net/attachments/1028156483847847946/1070312867217289246/ayame_small_user_pop.png');
    --small-popout-transparency: #00000099;
    --small-popout-size: cover;
    
    --big-popout-image: url('https://media.discordapp.net/attachments/1028156483847847946/1070314453121384520/ayame_big_user_pop.png');
    --big-popout-position: 50%;
    --big-popout-size: cover;

    --server-listing-width: 72px;
    --font-size: 100%;

    --background-mentioned-hover: #f884;
    --mention-message-sider: rgb(255, 88, 138);
    --mention-message: #4002;
    --mention-color: #f092;
    --mention-hover-color: #ff71b8;

    --video-screen-button-background-color: #c8c8c810;
    --video-screen-button-foreground-color: #ff7b7bce;
    --video-screen-button-background-hovor-color: #c8c8c866;
    --video-screen-button-foreground-hovor-color: #ffffffff;

    --member-listing-role-color: #ffffffff;

    --code-markup-background-color: #000000A0;
    --code-markup-border: 1px solid transparent;
    --background-modifier-selected: #0002;
    --channeltextarea-background:#0002;
    --background-secondary-alt:#0002;
    
    --embed-background-transparency: #0002;
    --message-hover-buttons-background: #c8c8c81a;
    --context-menu-transparency: #0000;

    --add-discover-icon-transparency: #0000;
    --add-discover-icon-color: #43b581;

    --channel-limit-count-color: #43b581;
    --channel-limit-background-left: #c8c8c81a;
    --channel-limit-background-right: #c8c8c833;

    --scrollbar-color: #c8c8c833;
    --unread-message-divider-color: #f0474740;
    --unread-message-divider-font-color: #FFFFFFFF;

    --new-messages-bar-background-color: #7289DA80;
    --new-messages-bar-font-color: #FFFFFFFF;

    --emoji-menu-background-color: #0008;
    --emoji-menu-sider-background-color: #0008;
    --emoji-menu-server-header-background-color: #0008;
    --emoji-menu-bottom-bar-background-color: #0008;
    --emoji-menu-search-bar-background-color: #0008;

    --message-search-menu-background-color: #000a;
    --message-search-container-background-color: #0002;
    --message-search-result-background-color: #0002;
    --background-secondary: #00000000;
    --text-voice-channel-color: #A0A0A0FF;
    --text-voice-channel-hover-color: #FFFFFF;
    --text-voice-channel-selected-text-color: #FFFFFFFF;
    --main-theme-color: var(--text-voice-channel-color);

    --unread-text-channel-color: #ff85d0;
    --unread-text-channel-bubble-color: #ff85d0;

    --folder-background-color: #00000040;
    --expanded-folder-background-color: #00000000;

    --reaction-emoji-background-color: #FFFFFF20;
    --reaction-emoji-border-color: 1px solid transparent;
    --reaction-emoji-hover-background-color: #00000090;
    --reaction-emoji-hover-border-color: #000000A0;
    
}

.itemLabel-27pirQ span.username {
    padding-left: 3px;
}

.itemLabel-27pirQ,
.itemCheckbox-2G8-Td {
    color: #fff;
    align-items: center;
    display: inline-block;
    padding-bottom: 3px;
}

.list-3cyRKU.none-2-_0dP.scrollerBase-_bVAAt.role-members {
    background: #0008;
}
.emojiItem-277VFM.emojiItemSelected-2Lg50V {
    background-color: #8884;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ ,
.lookFilled-yCfaCM.colorRed-rQXKgM ,
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background-color: #0004;
}

.role-2TIOKu.flex-3BkGQD.alignCenter-14kD11.rolePill-2IJ1vo{
    background-color: #0002;
}

.scroller-1bVxF5.thin-31rlnD.scrollerBase-_bVAAt {
    background-color: #0008;
    color: #000f;
}

.banner-2boKnS.profileBanner-2zIsK7,
.banner-2boKnS.popoutBanner-16rVDY {
    max-width: 0;
}

.avatarHoverTarget-l77PhT .wrapper-1VLyxH svg circle,
.bannerSVGWrapper-qc0szY mask circle {
    fill: #0000;
    opacity: 0;
}

.userProfileModalInner-3fh3QA.userProfileInner-3F03PX.userProfileInnerThemedWithBanner-2624Yx {
    background-position-y: 212px;
}

.userProfileModalInner-3fh3QA.userProfileInner-3F03PX {
    background-repeat: no-repeat;
    background-position: var(--big-popout-position);
    background-image: var(--big-popout-image);
    background-size: var(--big-popout-size);
}

.userPopoutInner-1hXSeY.userProfileInner-3F03PX.userProfileInnerThemedWithBanner-2624Yx {
    background-position-y: 120px;
}

.userPopoutInner-1hXSeY.userProfileInner-3F03PX {
    background-color: var(--small-popout-transparency);
    background-image: var(--small-popout-image);
    background-size: var(--small-popout-size);
}

.userProfileInner-3F03PX:before {
    background-color: #0000;
}

.animatorRight-xAUgTY.translate-PeW1wK.didRender-2SiRlm {
    background-color: #0000;
}

.userProfileModalOverlayBackground-8p3-eU.overlayBackground-1KgwVi,
.userPopoutOverlayBackground-dKOOda.overlayBackground-1KgwVi {
    background-color: #0004;
}

.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy,
.mouse-mode.full-motion.mentioned-Tre-dv:hover {
    background-color: var(--mention-message-hover);
}

/* mention-message */
.mentioned-Tre-dv:before {
    background-color: var(--mention-message-sider);
}

/* mention-message */
.mentioned-Tre-dv {
    background-color: var(--mention-message);
}

/* mention */
.theme-dark .wrapper-1ZcZW- {
    background: var(--mention-color);
}

/* mention:hover */
.interactive:hover {
    background-color: var(--mention-hover-color);
}

.userProfileModalOverlayBackground-8p3-eU.overlayBackground-1KgwVi {
    background-color: #0000;
}

.icon-39rdLt,
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background-color: var(--video-screen-button-foreground-color);
}

.wrapper-1HIH0j.userSelectNone-3AtPzf.cursorDefault-2KkZ5q {
    background: var(--theme-transparency);
}

.container-A2jo65,
.attachedBars-2BCP3l {
    background-color: transparent;
}

.replyBar-1oi75v,
.threadSuggestionBar-3ExSyc {
    background-color: var(--replyfromcolor);
}

.connectionList-11Q_X- {
    grid-gap: 0px;
}

.member-48YF_l,
.members-3WRCEx,
.header-JUTO-g {
    background-color: #0000;
}

.container-2ebMPP .recentMentionsPopout-2bI1ZN .group-spacing-16,
.header-145e10 .header-1w9Q93,
/* 釘選 */
.messagesPopoutWrap-3zryHW,
.footer-5ji8u1,
.header-1w9Q93,
.list-3YHPPb,
.container-2c4_8A,
.header-3_zmOb,
.messageGroupWrapper-1jf_7C,
.browser-mnQ1T7.container-18GwIk,
.messageGroupCozy-3v_RqN.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz {
    background: #00000020;
}

.accountList-Wii_T5,
.preview-3k9WhO,
.connection-YOVI9j,
.connectionHeader-Ixbb1s {
    background: #00000040;
}

.bd-addon-list .bd-addon-header,
.bd-description-wrap,
.bd-footer,
.upload-vLbqu- {
    background: #00000040;
}

.theme-dark .scroller-2GkvCq,
.theme-dark .container-KM8BU6,
.theme-dark .reactors-1VXca7 {
    background-color: #FFFFFF20;
}

.customizationSection-IGy2fS {
    width: 300px;
}

.reaction-3vwAF2 {
    background-color: var(--reaction-emoji-background-color);
}

.avatar-3mTjvZ,
.subscriptionsRedirectContainer-zD3U79,
.notice-2OK8bw,
.accountProfileCard-lbN7n-,
.noItemsCard-5EOcCl {
    background-color: var(--searchColor) !important;
}

.fieldList-in8WkP,
.container-2o3qEW,
.background-3d_SjE {
    background: transparent !important;
}

.side-2ur1Qk .separator-2wx7h6 {
    display: none !important;
}

#bd-settings-sidebar .ui-tab-bar-header,
.side-2ur1Qk .header-2Kx1US {
    width: 100%;
}

.chatContent-3KubbW {
    background: #0000;
}

.theme-dark .appMount-2yBXZl {
    background-image: var(--theme-background-image);
    background-size: cover
}

.tutorialContainer-2sGCg9 .wrapper-28eC3z .childWrapper-1j_1ub .homeIcon-FuNwkv {
    visibility: hidden
}

.homeIcon-tEMBK1 {
    visibility: hidden
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM .wrapper-3kah-n svg {
    opacity: 0
}


.headerTop-2y3V6H {
    background-color: initial;
    border-bottom: none
}

.avatar-22FtUu {
    border: none;
    background-color: initial
}


.avatarHint-1E3LMl {
    top: 0 !important;
    left: 0 !important
}

.scrollableContainer-15eg7h {
    background-color: var(--message-box-transparency)
}

.embedFull-1HGV2S {
    border-left: 4px solid var(--main-theme-color);
    background: var(--embed-background-transparency)
}

.content-3spvdd {
    color: var(--main-theme-color);
    background: 0 0
}

.tree-3tCaw8 {
    outline: none
}

.wrapper-1_HaEi {
    width: var(--server-listing-width)
}

.scrollerWrap-1IAIlv {
    width: calc(var(--server-listing-width) + 6px)
}

.wrapper-1_HaEi .scroller-3X7KbA {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start
}

.wrapper-1_HaEi .scroller-3X7KbA>div:not(.listItem-GuPuDH)>div {
    width: 50px;
    margin-left: 10px
}

.listItem-GuPuDH {
    width: auto;
    margin-left: 0
}

.wrapper-1_HaEi .scroller-3X7KbA>div.listItem-GuPuDH:nth-child(1) {
    width: 100% !important;
    margin-bottom: 8px;
    margin-left: 2px
}

.wrapper-z5ab_q {
    height: 54px;
    width: 54px
}

.pill-31IEus {
    left: -2px;
    position: absolute;
    top: -2px
}

.wrapper-1_HaEi .scroller-3X7KbA .guildSeparator-2ULOMe {
    position: relative;
    margin-top: 10px;
    width: 80px;
    display: block;
    margin: 10px auto 5px;
    margin-left: 24px;
    background-color: initial
}

.wrapper-21YSNc {
    position: relative;
    width: auto
}

.item-2LIpTv {
    border: var(--border);
    background: 0 0;
    border-radius: 100%;
    display: block;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: auto;
    right: auto;
    width: auto;
    height: auto !important;
    transform: none !important
}

.wrapper-1_HaEi .scroller-3X7KbA>div.listItem-GuPuDH:nth-child(1) .item-2LIpTv {
    opacity: 0 !important
}

.item-2LIpTv:not([style*="height: 8px"]) {
    border-color: #FFFFFFFF;
    background-color: initial
}

.pill-1m5BUr {
    display: none
}

.wrapper-1_HaEi .scroller-3X7KbA>div {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap
}

.tutorialContainer-2sGCg9 {
    display: flex;
    justify-content: center;
    width: 100%
}

.expandedFolderBackground-2sPsd- {
    left: 0
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH {
    right: 5px
}

.theme-dark .root-g14mjS {
    box-shadow: none
}

.theme-dark .footer-31IekZ {
    background-color: initial;
    box-shadow: none
}

.button-1EGGcP.buttonColor-3bP3fX,
.button-1EGGcP .buttonColor-3bP3fX {
    background-color: var(--video-screen-button-background-color);
    color: var(--video-screen-button-foreground-color)
}

.button-1EGGcP.buttonColor-3bP3fX:hover,
.button-1EGGcP .buttonColor-3bP3fX:hover {
    background-color: var(--video-screen-button-background-hovor-color);
    color: var(--video-screen-button-foreground-hovor-color)
}

.wrapper-2RrXDg,
.theme-dark .inset-SbsSFp {
    background-color: rgba(200, 200, 200, .1)
}

.wrapper-2vIMkT {
    background-color: var(--message-hover-buttons-background)
}

.menu-1QACrS {
    background: var(--context-menu-transparency)
}

.circleIconButton-1VxDrg {
    color: var(--add-discover-icon-color);
    background-color: var(--add-discover-icon-transparency)
}

.wrapper-2fEmwW {
    color: var(--channel-limit-count-color)
}

.users-2JoyGL {
    background-color: var(--channel-limit-background-left)
}

.total-1c5KCN:after {
    border-right-color: var(--channel-limit-background-left)
}

.total-1c5KCN {
    background-color: var(--channel-limit-background-right)
}

.wrapper-1S43wv:not(.muted-19J0ih) .name-3BUDLf.container-q97qHp .overflow-1wOqNV {
    color: var(--main-theme-color)
}

.wrapper-1S43wv {
    color: var(--main-theme-color)
}

.mainContent-uDGa6R .container-36u7Lw {
    color: var(--main-theme-color)
}

/*
.wrapper-1S43wv.muted-19J0ih:hover .icon-3zI3d2,
.wrapper-1S43wv.muted-19J0ih:hover .name-3BUDLf,
.wrapper-1S43wv:hover .icon-3zI3d2,
.wrapper-1S43wv:hover .name-3BUDLf {
    color: var(--category-hover-color)
}
*/
.membersGroup-2eiWxl {
    color: var(--member-listing-role-color)
}

.thin-31rlnD::-webkit-scrollbar-track {
    border-color: transparent;
    background-color: initial;
    border: transparent
}

.auto-2K3UW5::-webkit-scrollbar-thumb,
.thin-31rlnD::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color)
}

.headerPlaying-j0WQBV,
.theme-dark .headerNormal-1mX3KY,
.headerTop-3GPUSF,
.headerNormal-1l1Znk,
.headerSpotify-zpWxgT {
    background: var(--small-user-popout-background-transparency)
}

.headerTop-2cWpdB {
    background-color: initial;
    border-bottom: none
}

.theme-dark .body-2wLx-E,
.theme-dark .footer-1N3bR3 {
    background-color: var(--small-user-popout-background-transparency);
    color: hsla(0, 0%, 100%, .8)
}

.userProfileModalOverlayBackground-8p3-eU.overlayBackground-1KgwVi {
    background-color: #00000080;
}

.textarea-_59yqs:focus {
    background-color: rgba(0, 0, 0, .4)
}

.topSection-13QKHs {
    background-color: var(--big-user-popout-background-transparency)
}

.topSectionPlaying-1J5E4n {
    background: var(--big-user-popout-background-transparency)
}

.topSectionSpotify-1lI0-P {
    background: var(--big-user-popout-background-transparency)
}

.topSectionStreaming-1Tpf5X {
    background: var(--big-user-popout-background-transparency)
}

.body-1Ukv50 {
    background-color: var(--big-user-popout-background-transparency)
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
    border-top-color: transparent
}

.tabBarContainer-sCZC4w {
    border-top: none
}

.theme-dark .uploadModal-2ie9O_ {
    background-color: rgba(20, 20, 20, .6);
    box-shadow: none
}

.theme-dark .footer-VCsJQY {
    background-color: rgba(20, 20, 20, .6);
    box-shadow: none
}


.item-2idW98[aria-checked=true] {
    background-color: rgba(200, 200, 200, .1)
}

.attachment-1PZZB2 {
    border-color: transparent;
    background-color: rgba(0, 0, 0, .6)
}

/*
.mentioned-Tre-dv:before {
    background-color: var(--mention-sider)
}

.mentioned-Tre-dv {
    position: relative;
    background-color: var(--mention-color)
}

.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy,
.mouse-mode.full-motion .mentioned-Tre-dv:hover {
    background-color: var(--mention-hover-color)
}
*/
.markup-eYLPri code {
    background: var(--code-markup-background-color);
    border: var(--code-markup-border)
}

.blockquoteDivider-363utW {
    background-color: var(--main-theme-color)
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-3b3xI6 {
    color: #f6f6f7;
    background-color: rgba(200, 200, 200, .2)
}

.header-2EadGG {
    background-color: initial;
    border-bottom: none
}

.panels-3wFtMD {
    background: #0000;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM .wrapper-3kah-n .childWrapper-1j_1ub,
.scroller-2XLwLg,
.auto-2K3UW5::-webkit-scrollbar-track,
.actionButton-3-B2x-,
.wrapper-22ayhK,
.wrapper-15CKyy,
.wrapper-1gVUIN,
.header-6h98Y_,
.container-1oAagU,
.section-3G9aLW,
.titleContainer-3fPic2,
.searchHeader-1r_ZSh,
.scroller-3_YDR2,
.searchBar-3TnChZ .searchBarComponent-3N7dCG,
.panels-3wFtMD,
.input-2z42oC,
.profileBanner-1owKI5,
.titleBar-1it3bQ,
.app-2CXKsg,
.wrapper-1_HaEi,
.scroller-3X7KbA,
.privateChannels-oVe7HL,
.scroller-WSmht3,
.aboutMeSection---MkQa,
.bodyInnerWrapper-2bQs1k,
.container-3i3IzO,
.profileBannerPreview-3_l0Wd,
.guildSeparator-a4uisj,
.wrapper-3HVHpV.headerTop-3GPUSF,
.applicationStore-2nk7Lo,
.tutorialContainer-1pL9QS .listItem-GuPuDH .listItemWrapper-KhRmzM .wrapper-3kah-n .childWrapper-1j_1ub,
.container-1NXEtd,
.members-3WRCEx,
.members-3WRCEx>div,
.channelTextArea-1FufC0,
.layer-86YKbF,
.standardSidebarView-E9Pc3j,
.item-2idW98,
.sidebarRegionScroller-FXiQOh,
.contentRegion-3HkfJJ,
.contentRegionScroller-2_GT_N,
.background-3d_SjE,
.fieldList-in8WkP,
.scroller-29cQFV,
.theme-dark .option-2KkUJO.selected-rZcOL-:after,
.theme-dark .option-2KkUJO:after,
.theme-dark .form-3gdLxP:before,
.theme-dark .children-3xh0VB:after,
.theme-dark .perksModal-fSYqOq,
.theme-dark .container-2cd8Mz,
.channelName-3w2Y3c,
.stageSection-3mAD8V,
.threadSidebar-1o3BTy,
.callContainer-HtHELf,
.sidebar-1tnWFu,
.chat-2ZfjoI,
.container-ZMc96U.themed-Hp1KC_,
.nowPlayingColumn-1eCBCN,
.emptyCard-KDifrB,
.container-2o3qEW,
.container-3XgAHv {
    background: transparent !important
}

.wrapper-1gVUIN.minimum-fXpVNc {
    height: 240px;
    background-color: initial
}

.avatar-3QF_VA {
    border: 8px solid transparent;
    background-color: initial
}

.content-1jQy2l:before {
    -webkit-box-shadow: none;
    box-shadow: none
}

.isUnread-3Lojb- {
    border-color: var(--unread-message-divider-color)
}

.unreadPill-3nEWYM {
    color: var(--unread-message-divider-font-color);
    background-color: var(--unread-message-divider-color)
}

.unreadPillCapStroke-1nE1Q8 {
    color: var(--unread-message-divider-color);
    fill: var(--unread-message-divider-color)
}

.newMessagesBar-1hF-9G {
    background-color: var(--new-messages-bar-background-color)
}

.newMessagesBar-1hF-9G button {
    color: var(--new-messages-bar-font-color)
}

.contentWrapper-3vHNP2 {
    background-color: var(--emoji-menu-background-color)
}

.wrapper-22rqw6 {
    background-color: var(--emoji-menu-sider-background-color)
}

.unicodeShortcut-3N8oDe {
    background-color: var(--emoji-menu-bottom-bar-background-color)
}

.inspector-DFKXwB {
    background-color: var(--emoji-menu-bottom-bar-background-color)
}

.wrapper-1NNaWG {
    background-color: var(--emoji-menu-server-header-background-color)
}

.container-1SX9VC {
    background-color: var(--emoji-menu-search-bar-background-color)
}

.theme-dark .container-2McqkF {
    background-color: var(--message-search-menu-background-color)
}

.theme-dark .elevationBorderHigh-3drnJX {
    box-shadow: none
}

.searchResultsWrap-5RVOkx {
    background-color: var(--message-search-container-background-color)
}

.searchResult-O9NDji {
    background-color: var(--message-search-result-background-color)
}

.wrapper-z5ab_q {
    overflow: visible
}

.expandedFolderBackground-1cujaW {
    left: 1px
}

.wrapper-1_HaEi .scroller-3X7KbA div .listItem-GuPuDH .pill-22lZHo .item-2LIpTv {
    opacity: 0 !important
}

.tree-3agP2X:focus {
    outline: none
}

.modeUnread-3Cxepe .name-28HaxV {
    color: var(--unread-text-channel-color)
}

.unread-36eUEm {
    background-color: var(--unread-text-channel-bubble-color)
}

.modeMuted-2T4MDZ:hover .name-28HaxV,
.wrapper-NhbLHG:hover .name-28HaxV {
    color: var(--text-voice-channel-hover-color)
}

.name-28HaxV {
    color: var(--text-voice-channel-color)
}

.expandedFolderBackground-1kSAf6 {
    background-color: var(--expanded-folder-background-color)
}

.folder-241Joy {
    background-color: var(--folder-background-color)
}

.theme-dark .outer-2JOHae.active-1W_Gl9,
.theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: rgba(255, 255, 255, .2)
}

.reaction-2A2y9y {
    background: var(--reaction-emoji-background-color)
}

.reaction-2A2y9y:hover {
    background-color: var(--reaction-emoji-hover-background-color);
    border-color: var(--reaction-emoji-hover-border-color)
}



.theme-dark .container-S9SaVf {
    background-color: rgba(255, 255, 255, 8%)
}

.theme-dark .container-S9SaVf:hover {
    background-color: rgba(255, 255, 255, .1)
}

.modeSelected-3DmyhH .name-28HaxV,
.modeSelected-3DmyhH:hover .name-28HaxV {
    color: var(--text-voice-channel-selected-text-color)
}

html {
    font-size: var(--font-size) !important
}

.reaction-2A2y9y {
    border: var(--reaction-emoji-border-color)
}

.folderIconWrapper-1_bOZe {
    border-radius: 100%
}

.folder-1hbNCn {
    border-radius: 100%
}

.footer-3naVBw,
.footer-1Dc_h6 {
    background-color: var(--small-user-popout-background-transparency);
    margin-top: 0
}


.listItem-1d8GP4 {
    width: initial
}

.pill-22lZHo .item-2LIpTv {
    opacity: 0 !important
}

.theme-dark .autocomplete-3NRXG8 {
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(5px)
}

.theme-dark .selected-3H3-RC {
    background-color: rgba(200, 200, 200, .15)
}

.translate-PeW1wK.didRender-2SiRlm .emojiPicker-6YCk8a {
    background-color: var(--emoji-menu-background-color)
}

.tutorialContainer-1pL9QS .wrapper-28eC3z .childWrapper-1j_1ub {
    background: var(--home-icon-image) !important;
    background-position: var(--home-icon-image-position) !important;
    background-repeat: no-repeat !important;
    background-size: var(--home-icon-image-zoom) !important
}

.tutorialContainer-1pL9QS .wrapper-28eC3z .childWrapper-1j_1ub .homeIcon-FuNwkv {
    visibility: hidden
}

.homeIcon-tEMBK1 {
    visibility: hidden
}

.tutorialContainer-1pL9QS .listItem-3SmSlK .listItemWrapper-3d87LP .wrapper-3kah-n svg {
    opacity: 0
}

.tutorialContainer-1pL9QS {
    display: flex;
    justify-content: center;
    width: 100%
}

.tutorialContainer-1pL9QS .listItem-GuPuDH {
    right: 5px
}

.listItem-3SmSlK {
    width: initial
}

.expandedFolderBackground-1kSAf6 {
    left: 0
}

.folder-241Joy,
.folderIconWrapper-1oRIZr {
    border-radius: 100%
}

.bg-1QIAus,
.chatTarget-3H6mpC.container-3XgAHv.floating-3M3WeH {
    background-color: var(--theme-transparency)
}

.titleBar-1it3bQ.typeMacOS-3V4xXE,
.titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e,
.wrapper-1_HaEi,
.wrapper-1_HaEi .unreadMentionsIndicatorTop-2bTgUU,
.wrapper-1_HaEi .unreadMentionsIndicatorBottom-3RJMnQ {
    width: calc(1px * (var(--guildsize) * var(--columns) + 20 * (var(--guildsize)/50) + 14 * (var(--guildsize)/50) * (var(--columns) - 1))) !important;
}

.titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e {
    padding-right: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) - 50)) !important;
}

body.folderContentIsOpen-zz6FgW .titleBar-1it3bQ.typeMacOS-3V4xXE,
body.folderContentIsOpen-zz6FgW .titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e {
    width: calc(2px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) + 35 - 25)) !important;
}

body.folderContentIsOpen-zz6FgW .titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e {
    padding-right: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) * 2 - 40)) !important;
}

.titleBar-1it3bQ.typeMacOS-3V4xXE.typeMacOSWithFrame-1XEpN7 .macButtons-eIdy0e {
    margin-top: 0 !important;
    margin-right: 0 !important;
}

.wrapper-1_HaEi {
    padding: 0 !important;
}

.wrapper-1_HaEi.hidden-10MsGQ {
    width: 0 !important;
}

.wrapper-1_HaEi .scroller-3X7KbA {
    padding: 0 0 calc(10px * var(--guildsize)/50) calc(10px * var(--guildsize)/50) !important;
}

.wrapper-1_HaEi .scroller-3X7KbA.none-2-_0dP::-webkit-scrollbar {
    width: 0 !important;
}

.wrapper-1_HaEi .scroller-3X7KbA,
.wrapper-1_HaEi .scroller-3X7KbA>[role="tree"],
.wrapper-1_HaEi .listItem-3SmSlK+div[aria-label]:not([class]) {
    margin: 0 !important;
    display: flex !important;
    flex-flow: row wrap !important;
    align-content: flex-start !important;
}

.wrapper-1_HaEi .listItem-3SmSlK {
    margin: calc(1px * var(--guildgap)) calc(1px * (12 * var(--guildsize)/50)) calc(1px * var(--guildgap)) 0 !important;
}

.wrapper-1_HaEi #server-search {
    margin: calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2)) !important;
}

.wrapper-1_HaEi #server-search .pill-3YxEhL {
    display: none;
}

.wrapper-1_HaEi .listItem-3SmSlK:first-child .listItemWrapper-3d87LP {
    margin: 0 calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2)) calc(1px * var(--guildgap)) calc(1px * ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2))) !important;
}

.wrapper-1_HaEi .listItem-3SmSlK:first-child .pill-22lZHo~.listItemWrapper-3d87LP {
    margin: 0 calc(1px * ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))) 0 calc(1px * (((0 * var(--aligndms)) + ((((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))))) !important;
}

.wrapper-1_HaEi .blobContainer-ikKyFs,
.wrapper-1_HaEi .guildsError-YJjW3A {
    margin: 0 !important;
}

.wrapper-1_HaEi .listItem-3SmSlK {
    width: auto !important;
}

.wrapper-1_HaEi .tutorialContainer-1pL9QS {
    width: 100%;
}

.wrapper-1_HaEi .placeholderMask-3Z1hhV,
.wrapper-1_HaEi .svg-2zuE5p,
.wrapper-1_HaEi .wrapper-28eC3z {
    height: calc(1px * var(--guildsize)) !important;
    width: calc(1px * var(--guildsize)) !important;
}

.wrapper-1_HaEi .scroller-3X7KbA>div[style*="height"]:not([class]) {
    height: calc(1px * var(--guildsize) * (58/50)) !important;
}

.wrapper-1_HaEi .upperBadge-1V6Iyi .base-3IDx3L {
    transform: translate(calc(1.5px * ((50 - var(--guildsize))/10)), calc(-1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}

.wrapper-1_HaEi .upperLeftBadge-e35IpL .base-3IDx3L {
    transform: translate(calc(-1.5px * ((50 - var(--guildsize))/10)), calc(-1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}

.wrapper-1_HaEi .lowerBadge-3WTshO .base-3IDx3L {
    transform: translate(calc(1.5px * ((50 - var(--guildsize))/10)), calc(1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}

.wrapper-1_HaEi .lowerLeftBadge-zr4T_9 .base-3IDx3L {
    transform: translate(calc(-1.5px * ((50 - var(--guildsize))/10)), calc(1.5px * ((50 - var(--guildsize))/10))) scale(calc(var(--guildsize)/50)) !important;
}

.wrapper-1_HaEi .wrapper-z5ab_q {
    top: calc(-5px * var(--guildsize)/50) !important;
    height: calc(1px * (var(--guildsize) + 10 * var(--guildsize)/50)) !important;
    transform: scale(calc(var(--guildsize)/50)) !important;
    transform-origin: 0 50% !important;
}

.wrapper-1_HaEi .pill-L_aLMQ {
    /*	home	*/
    left: calc(1px * ((((var(--guildsize) + 10 * var(--guildsize)/50) * (var(--columns) - 1))/2) - 9)) !important;
}

.wrapper-1_HaEi .pill-22lZHo {
    /*	dm		*/
    left: calc(1px * ((var(--aligndms) + ((((var(--guildsize) + 10 * var(--guildsize)/50) * (var(--columns) - 1))/2) * (1 - var(--aligndms)))) - 8)) !important;
}

.wrapper-1_HaEi .pill-2RsI5Q,
/*	guild	*/
.wrapper-1_HaEi .pill-1fqNCF {
    /* 	button	*/
    left: calc(-10px * var(--guildsize)/50) !important;
}

.wrapper-1_HaEi .guildSeparator-a4uisj {
    width: calc(1px * ((var(--guildsize) + 12 * var(--guildsize)/50) * var(--columns) - (12 * var(--guildsize)/50))) !important;
    margin: calc(1px * (var(--guildsize)/10)) 0 !important;
    display: block !important;
}

.wrapper-1_HaEi [role=tree]~.listItem-3SmSlK .listItemWrapper-3d87LP,
.wrapper-1_HaEi [role=tree]~* .listItem-3SmSlK .listItemWrapper-3d87LP,
.wrapper-1_HaEi .listItem-3SmSlK+div[aria-label]:not([class])~.listItem-3SmSlK .listItemWrapper-3d87LP,
.wrapper-1_HaEi .listItem-3SmSlK+div[aria-label]:not([class])~* .listItem-3SmSlK .listItemWrapper-3d87LP {
    margin: 0 !important;
}

.wrapper-1_HaEi .guildsError-YJjW3A {
    height: calc(1px * var(--guildsize)) !important;
    width: calc(1px * var(--guildsize)) !important;
    font-size: calc(1px * (var(--guildsize)/4 + 7.5)) !important;
    line-height: calc(1px * (var(--guildsize)/4 + 6.5)) !important;
}

.wrapper-1_HaEi #bd-pub-li,
.wrapper-1_HaEi #bd-pub-li #bd-pub-button,
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi #sort-button>div,
.wrapper-1_HaEi .frame-oXWS21,
.wrapper-1_HaEi .frame-oXWS21 .button-Jt-tIg {
    height: calc(1px * ((var(--guildsize)/5) + 10)) !important;
}

.wrapper-1_HaEi .friendsOnline-2JkivW,
.wrapper-1_HaEi .label-2wRs_g {
    display: flex !important;
    justify-content: center !important;
    width: calc(1px * (var(--guildsize) * var(--columns) + 20 * (var(--guildsize)/50) + 14 * (var(--guildsize)/50) * (var(--columns) - 1) - (20 * var(--guildsize)/50) calc(10px * var(--guildsize)/50))) !important;
    margin: 0 !important;
    font-size: calc(1px * ((var(--guildsize)/8) + 3)) !important;
}

.wrapper-1_HaEi #bd-pub-li,
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi .frame-oXWS21 {
    width: calc(1px * ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50)) !important;
}

.wrapper-1_HaEi #bd-pub-li,
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi .frame-oXWS21 {
    text-align: center !important;
    margin: calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1) - ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50) + var(--guildsize))/2)) calc(1px * var(--guildgap)) calc(1px * (((var(--guildsize) + 12 * var(--guildsize)/50) * (var(--columns) - 1) - ((var(--guildsize)*4/5) + 12 * var(--guildsize)/50) + var(--guildsize))/2)) !important;
}

.wrapper-1_HaEi .tutorialContainer-1pL9QS #bd-pub-li {
    margin-top: calc(2px * var(--guildgap)) !important;
}

.wrapper-1_HaEi #sort-button>div,
.wrapper-1_HaEi #bd-pub-li #bd-pub-button,
.wrapper-1_HaEi .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-1_HaEi .frame-oXWS21 .button-Jt-tIg {
    white-space: pre !important;
    font-size: calc(1px * ((var(--guildsize)/8) + 5)) !important;
    line-height: calc(1px * ((var(--guildsize)/5) + 10)) !important;
}

.wrapper-1_HaEi #sort-button>div,
.wrapper-1_HaEi #bd-pub-li #bd-pub-button,
.wrapper-1_HaEi .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-1_HaEi .frame-oXWS21 .button-Jt-tIg {
    width: 100% !important;
}

.wrapper-1_HaEi .wrapper-38slSD {
    border-bottom: calc(1px * var(--guildgap)) solid transparent !important;
    margin: calc(1px * var(--guildgap)) calc(1px * (12 * var(--guildsize)/50)) auto 0 !important;
    width: calc(1px * var(--guildsize)) !important;
}

.wrapper-1_HaEi .wrapper-38slSD>.listItem-3SmSlK {
    margin: 0 !important;
}

.wrapper-1_HaEi .wrapper-38slSD [role="group"] {
    overflow: visible !important;
    margin-left: -1px !important;
    margin-bottom: 0 !important;
    padding-left: 1px !important;
}

.wrapper-1_HaEi .wrapper-38slSD [role="group"] .listItem-3SmSlK {
    margin: 6px 0 !important;
}

.wrapper-1_HaEi .wrapper-38slSD [role="group"] .listItem-3SmSlK:last-child {
    margin-bottom: 0 !important;
}

.wrapper-1_HaEi .expandedFolderBackground-1kSAf6 {
    width: calc(1px * var(--guildsize)) !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin-bottom: 0 !important;
}

html .typingindicator-guild,
html .typingindicator-dms,
html .typingindicator-folder {
    right: 3px !important;
    top: calc(var(--guildsize) * 1px - 5px) !important;
    bottom: unset !important;
}

.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 56px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 112px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 168px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 224px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 280px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 336px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 392px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 448px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 504px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 560px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 616px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 672px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 728px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 784px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 840px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 896px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 952px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1008px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1064px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1120px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1176px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1232px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1288px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1344px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1400px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1456px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1512px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1568px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1624px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1680px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1736px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1792px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1848px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1904px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 1960px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2016px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2072px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2128px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2184px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2240px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2296px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2352px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2408px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2464px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2520px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2576px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2632px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2688px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2744px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2800px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2856px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2912px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 2968px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3024px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3080px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3136px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3192px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3248px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3304px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3360px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3416px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3472px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3528px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3584px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3640px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3696px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3752px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3808px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3864px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3920px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 3976px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4032px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4088px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4144px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4200px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4256px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4312px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4368px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4424px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4480px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4536px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4592px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4648px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4704px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4760px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4816px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4872px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4928px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 4984px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5040px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5096px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5152px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5208px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5264px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5320px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5376px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5432px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5488px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5544px;"],
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style="height: 5600px;"] {
    height: unset !important;
}